<% title = 'Yoga' %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <script src="https://kit.fontawesome.com/004ce8372e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="shortcut icon" href="#">
</head>
<body>
    <header>
        <%- include('partials/header.html') %>
    </header>

<main>
    <section id="featured-cards">
        <h2 class="text-center">Featured</h2>
        <div class="container-fluid">
            <div class="container">
            <div id="carouselFeaturedCards" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <!-- Indicator items -->
                </ol>
    
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="https://th.bing.com/th/id/OIG.61iLBqppKZyJdfBhkOrI?pid=ImgGn" alt="Featured Card 1">
                            </div>
                            <div class="col-md-6">
                                <p class="text-center">Introducing our featured birthday card, a heartfelt and beautifully designed creation that goes beyond a simple wish. Crafted with care and creativity, this card is more than just a piece of paper; it's a messenger of genuine sentiments. As you send it to your loved one, it carries your warmest wishes, reminding them that their birthday is a day for boundless joy and unbridled happiness. The intricate artwork and carefully chosen words capture the essence of celebration, inviting the recipient to embrace the day with open arms. With this featured birthday card, you're not just sending best wishes; you're sending a piece of your heart, ensuring that the day shines even brighter with the love and warmth it carries. Make their special day extraordinary with this exceptional birthday card, because birthdays deserve nothing less.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="https://th.bing.com/th/id/OIG.2ilqi.Jex9ZyUlw7z97j?pid=ImgGn" alt="Featured Card 2">
                            </div>
                            <div class="col-md-6">
                                <p class="text-center">Introducing our featured birthday card, a delightful creation designed to make your loved one's day absolutely unforgettable. Inside its vibrant and playful design lies a heartfelt message: "May your day be filled with laughter and fun." These words are more than just a sentiment; they are an invitation to embrace joy and merriment. As your friend or family member opens this card, they'll be greeted with a burst of color and cheer, setting the tone for a day brimming with laughter and unforgettable moments. With our featured birthday card, you're not just sending a wish; you're sending an experience, a promise that their special day will be filled with the kind of happiness that leaves them with a heartwarming smile and cherished memories. Make their day extra special with this exceptional birthday card, because laughter and fun are the best gifts of all.</p>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#carouselFeaturedCards" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselFeaturedCards" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
        </div>
    </section>
    

    <section id="card-categories">
        <div class="container">
            <h2 class="text-center">Categories</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="category-bundle">
                        <div class="category-card">
                            <a href="/products?category=birthday"><img src="https://th.bing.com/th/id/OIG.W2pSd60hejl2UGzEplEu?pid=ImgGn" alt="Birthday Cards"></a>
                            <p class="text-center">Birthday</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-bundle">
                        <div class="category-card">
                            <a href="/products?category=congratulations"><img src="https://th.bing.com/th/id/OIG.W0borVd8i7uTXrkGKkCI?pid=ImgGn" alt="Congratulatory Cards"></a>
                            <p class="text-center">Congratulations</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="category-bundle">
                        <div class="category-card">
                            <a href="/products?category=christmas"><img src="https://th.bing.com/th/id/OIG.34jcdo3O_deEQI4xnZQV?pid=ImgGn" alt="Christmas Cards""></a>
                            <p class="text-center">Christmas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

    <footer>
        <%- include('partials/footer.html') %>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

