/* Styles for the cart page */
main {
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.empty-cart {
    text-align: center;
    margin-top: 50px;
}

.empty-cart img {
    max-width: 732px;
    max-height: 558px;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    margin-bottom: 20px;
}

.item-image img {
    max-width: 100px;
    height: auto;
}

.item-details {
    flex-grow: 1;
    padding-left: 20px;
}

.quantity-control {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.quantity-control button {
    margin: 0 5px;
}

.cart-total {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

.proceed-to-checkout {
    background-color: #28a745;
    color: #fff;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.proceed-to-checkout:hover {
    background-color: #218838;
}
