@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Playfair+Display:ital,wght@1,600&display=swap');

/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f1ed;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header Styles */
header {
    background-color: #fff;
}

.navbar-brand img {
    max-width: 69px;
    height: auto;
    border-radius: 30px;
}

.navbar-brand {
    font-family: 'Playfair Display', 'Major Mono Display', serif, monospace;
    font-size: 32px;
    color: #dd4730 !important;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    margin-right: 15px;
}

.nav-item:last-child {
    margin-right: 0;
}

.nav-item a {
    display: flex;
    align-items: center;
}

.dropdown-menu {
    min-width: 150px;
}

.fa-solid {
    color: #dd4730;
    font-size: large;
    margin-right: 5px;
}

/* Footer Styles */
footer {
    padding: 15px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    padding-top: 15px;
}

/* Custom alert */
.custom-alert {
    display: none;
    text-align: center;
 }
 
 .custom-alert-content {
    background-color: #E6D5C4;
    color: #fff;
    text-align: center;
  }
